.notification {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 10%;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.notification h2 {
    margin: 0;
    font-size: 1.25rem;
    color: white;
}

.notification .notificationbutton {
    margin: 0;
    padding: 5px;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
}

.hidden {
    display: none;
}

.pending {
    background-color: #177cbe;
}

.success {
    background-color: #10be58;
}

.error {
    background-color: #e65035;
}